<app-activity [title]="lesson.title"
              [description]="lesson.description"
              [showSolutionLink]="false"
              [showContent]="false"
              [showResult]="false"></app-activity>


<app-activity [title]="activity1.title"
              [description]="activity1.description"
              [steps]="activity1.steps"
              [solution]="activity1.solution"
              [result]="counters.button1">

  <button #button1 class="btn btn-primary">
    Clicked {{counters.button1}} times
  </button>

</app-activity>


<app-activity [title]="activity2.title"
              [description]="activity2.description"
              [steps]="activity2.steps"
              [solution]="activity2.solution"
              [result]="counters.button2">

  <button #button2 class="btn btn-primary">
    Clicked {{counters.button2}} times
  </button>

</app-activity>


<app-activity [title]="activity3.title"
              [description]="activity3.description"
              [steps]="activity3.steps"
              [solution]="activity3.solution"
              [result]="counters.button3">

  <button #button3 class="btn btn-primary">
    Clicked {{counters.button3}} times
  </button>

</app-activity>


<app-activity [title]="activity4.title"
              [description]="activity4.description"
              [steps]="activity4.steps"
              [solution]="activity4.solution"
              [result]="counters.button4">

  <button #button4 class="btn btn-primary">
    Clicked {{counters.button4}} times
  </button>

</app-activity>


<div class="alert alert-info my-5">
  <h3 class="my-2">Extra Exercises</h3>
</div>

<app-activity [title]="activity5.title"
              [description]="activity5.description"
              [steps]="activity5.steps"
              [solution]="activity5.solution"
              [result]="counters.button5">


  <button #button5 class="btn btn-primary">
    Clicked {{counters.button5}} times
  </button>
</app-activity>


<app-activity [title]="activity6.title"
              [description]="activity6.description"
              [steps]="activity6.steps"
              [solution]="activity6.solution"
              [result]="counters.button6">

  <button #button6 class="btn btn-primary">
    Clicked {{counters.button6}} times
  </button>

</app-activity>
