<app-card title="Say Hello 👋🏻">
  <app-person-card [person]="person"></app-person-card>
  <app-person-card [person]="personLeonardo"></app-person-card>
  <app-person-card [person]="personCarlos"></app-person-card>
</app-card>

<app-card title="Tell me about you! 👫 ">
  <p>Your name</p>
  <p>Where you from</p>
  <p>Experience with: JavaScript, RxJS, Angular</p>
</app-card>

<app-card title="Then there's this...">
  <p>The workshop is in English, but feel free to ask question in Spanish!</p>
  <p>The <strong>Activities</strong> are required, and should be followed in order.</p>
  <p>The <strong>Exercises</strong> are NOT required, and can be done when you have some time left.</p>
</app-card>
