<app-activity [title]="lesson.title"
              [description]="lesson.description"
              [showSolutionLink]="false"
              [showContent]="false"
              [showResult]="false"></app-activity>

<app-activity [title]="activity1.title"
              [description]="activity1.description"
              [steps]="activity1.steps"
              [solution]="activity1.solution"
              [result]="result1">

  <button #button1 class="btn btn-primary">Button 1</button>

</app-activity>

<app-activity [title]="activity2.title"
              [description]="activity2.description"
              [steps]="activity2.steps"
              [solution]="activity2.solution"
              [result]="result2">

  <button #button2 class="btn btn-primary">Button 2</button>

</app-activity>

<app-activity [title]="activity3.title"
              [description]="activity3.description"
              [steps]="activity3.steps"
              [solution]="activity3.solution"
              [result]="result3">
</app-activity>

<div class="alert alert-info my-5">
  <h3 class="my-2">Extra Exercises</h3>
</div>

<app-activity [title]="activity4.title"
              [description]="activity4.description"
              [steps]="activity4.steps"
              [solution]="activity4.solution"
              [showContent]="false"
              [showResult]="false">

</app-activity>
